HW6/plot_HW6_IoU_distrib.png
HW6/Mini_BAGLS_dataset/0_seg.png
HW6/Mini_BAGLS_dataset/0.meta
HW6/Mini_BAGLS_dataset/0.png
HW6/Mini_BAGLS_dataset/1_seg.png
HW6/Mini_BAGLS_dataset/1.meta
HW6/Mini_BAGLS_dataset/1.png
HW6/Mini_BAGLS_dataset/2_seg.png
HW6/Mini_BAGLS_dataset/2.meta
HW6/Mini_BAGLS_dataset/2.png
HW6/Mini_BAGLS_dataset/3_seg.png
HW6/Mini_BAGLS_dataset/3.meta
HW6/Mini_BAGLS_dataset/3.png
HW6/Mini_BAGLS_dataset/4_seg.png
HW6/Mini_BAGLS_dataset/4.meta
HW6/Mini_BAGLS_dataset/4.png
HW6/Mini_BAGLS_dataset/5_seg.png
HW6/Mini_BAGLS_dataset/5.meta
HW6/Mini_BAGLS_dataset/5.png
HW6/Mini_BAGLS_dataset/6_seg.png
HW6/Mini_BAGLS_dataset/6.meta
HW6/Mini_BAGLS_dataset/6.png
HW6/Mini_BAGLS_dataset/7_seg.png
HW6/Mini_BAGLS_dataset/7.meta
HW6/Mini_BAGLS_dataset/7.png
HW6/Mini_BAGLS_dataset/8_seg.png
HW6/Mini_BAGLS_dataset/8.meta
HW6/Mini_BAGLS_dataset/8.png
HW6/Mini_BAGLS_dataset/9_seg.png
HW6/Mini_BAGLS_dataset/9.meta
HW6/Mini_BAGLS_dataset/9.png
HW6/Mini_BAGLS_dataset/10_seg.png
HW6/Mini_BAGLS_dataset/10.meta
HW6/Mini_BAGLS_dataset/10.png
HW6/Mini_BAGLS_dataset/11_seg.png
HW6/Mini_BAGLS_dataset/11.meta
HW6/Mini_BAGLS_dataset/11.png
HW6/Mini_BAGLS_dataset/12_seg.png
HW6/Mini_BAGLS_dataset/12.meta
HW6/Mini_BAGLS_dataset/12.png
HW6/Mini_BAGLS_dataset/13_seg.png
HW6/Mini_BAGLS_dataset/13.meta
HW6/Mini_BAGLS_dataset/13.png
HW6/Mini_BAGLS_dataset/14_seg.png
HW6/Mini_BAGLS_dataset/14.meta
HW6/Mini_BAGLS_dataset/14.png
HW6/Mini_BAGLS_dataset/15_seg.png
HW6/Mini_BAGLS_dataset/15.meta
HW6/Mini_BAGLS_dataset/15.png
HW6/Mini_BAGLS_dataset/16_seg.png
HW6/Mini_BAGLS_dataset/16.meta
HW6/Mini_BAGLS_dataset/16.png
HW6/Mini_BAGLS_dataset/17_seg.png
HW6/Mini_BAGLS_dataset/17.meta
HW6/Mini_BAGLS_dataset/17.png
HW6/Mini_BAGLS_dataset/18_seg.png
HW6/Mini_BAGLS_dataset/18.meta
HW6/Mini_BAGLS_dataset/18.png
HW6/Mini_BAGLS_dataset/19_seg.png
HW6/Mini_BAGLS_dataset/19.meta
HW6/Mini_BAGLS_dataset/19.png
HW6/Mini_BAGLS_dataset/20_seg.png
HW6/Mini_BAGLS_dataset/20.meta
HW6/Mini_BAGLS_dataset/20.png
HW6/Mini_BAGLS_dataset/21_seg.png
HW6/Mini_BAGLS_dataset/21.meta
HW6/Mini_BAGLS_dataset/21.png
HW6/Mini_BAGLS_dataset/22_seg.png
HW6/Mini_BAGLS_dataset/22.meta
HW6/Mini_BAGLS_dataset/22.png
HW6/Mini_BAGLS_dataset/23_seg.png
HW6/Mini_BAGLS_dataset/23.meta
HW6/Mini_BAGLS_dataset/23.png
HW6/Mini_BAGLS_dataset/24_seg.png
HW6/Mini_BAGLS_dataset/24.meta
HW6/Mini_BAGLS_dataset/24.png
HW6/Mini_BAGLS_dataset/25_seg.png
HW6/Mini_BAGLS_dataset/25.meta
HW6/Mini_BAGLS_dataset/25.png
HW6/Mini_BAGLS_dataset/26_seg.png
HW6/Mini_BAGLS_dataset/26.meta
HW6/Mini_BAGLS_dataset/26.png
HW6/Mini_BAGLS_dataset/27_seg.png
HW6/Mini_BAGLS_dataset/27.meta
HW6/Mini_BAGLS_dataset/27.png
HW6/Mini_BAGLS_dataset/28_seg.png
HW6/Mini_BAGLS_dataset/28.meta
HW6/Mini_BAGLS_dataset/28.png
HW6/Mini_BAGLS_dataset/29_seg.png
HW6/Mini_BAGLS_dataset/29.meta
HW6/Mini_BAGLS_dataset/29.png
HW6/Mini_BAGLS_dataset/30_seg.png
HW6/Mini_BAGLS_dataset/30.meta
HW6/Mini_BAGLS_dataset/30.png
HW6/Mini_BAGLS_dataset/31_seg.png
HW6/Mini_BAGLS_dataset/31.meta
HW6/Mini_BAGLS_dataset/31.png
HW6/Mini_BAGLS_dataset/32_seg.png
HW6/Mini_BAGLS_dataset/32.meta
HW6/Mini_BAGLS_dataset/32.png
HW6/Mini_BAGLS_dataset/33_seg.png
HW6/Mini_BAGLS_dataset/33.meta
HW6/Mini_BAGLS_dataset/33.png
HW6/Mini_BAGLS_dataset/34_seg.png
HW6/Mini_BAGLS_dataset/34.meta
HW6/Mini_BAGLS_dataset/34.png
HW6/Mini_BAGLS_dataset/35_seg.png
HW6/Mini_BAGLS_dataset/35.meta
HW6/Mini_BAGLS_dataset/35.png
HW6/Mini_BAGLS_dataset/36_seg.png
HW6/Mini_BAGLS_dataset/36.meta
HW6/Mini_BAGLS_dataset/36.png
HW6/Mini_BAGLS_dataset/37_seg.png
HW6/Mini_BAGLS_dataset/37.meta
HW6/Mini_BAGLS_dataset/37.png
HW6/Mini_BAGLS_dataset/38_seg.png
HW6/Mini_BAGLS_dataset/38.meta
HW6/Mini_BAGLS_dataset/38.png
HW6/Mini_BAGLS_dataset/39_seg.png
HW6/Mini_BAGLS_dataset/39.meta
HW6/Mini_BAGLS_dataset/39.png
HW6/Mini_BAGLS_dataset/40_seg.png
HW6/Mini_BAGLS_dataset/40.meta
HW6/Mini_BAGLS_dataset/40.png
HW6/Mini_BAGLS_dataset/41_seg.png
HW6/Mini_BAGLS_dataset/41.meta
HW6/Mini_BAGLS_dataset/41.png
HW6/Mini_BAGLS_dataset/42_seg.png
HW6/Mini_BAGLS_dataset/42.meta
HW6/Mini_BAGLS_dataset/42.png
HW6/Mini_BAGLS_dataset/43_seg.png
HW6/Mini_BAGLS_dataset/43.meta
HW6/Mini_BAGLS_dataset/43.png
HW6/Mini_BAGLS_dataset/44_seg.png
HW6/Mini_BAGLS_dataset/44.meta
HW6/Mini_BAGLS_dataset/44.png
HW6/Mini_BAGLS_dataset/45_seg.png
HW6/Mini_BAGLS_dataset/45.meta
HW6/Mini_BAGLS_dataset/45.png
HW6/Mini_BAGLS_dataset/46_seg.png
HW6/Mini_BAGLS_dataset/46.meta
HW6/Mini_BAGLS_dataset/46.png
HW6/Mini_BAGLS_dataset/47_seg.png
HW6/Mini_BAGLS_dataset/47.meta
HW6/Mini_BAGLS_dataset/47.png
HW6/Mini_BAGLS_dataset/48_seg.png
HW6/Mini_BAGLS_dataset/48.meta
HW6/Mini_BAGLS_dataset/48.png
HW6/Mini_BAGLS_dataset/49_seg.png
HW6/Mini_BAGLS_dataset/49.meta
HW6/Mini_BAGLS_dataset/49.png
HW6/Mini_BAGLS_dataset/50_seg.png
HW6/Mini_BAGLS_dataset/50.meta
HW6/Mini_BAGLS_dataset/50.png
HW6/Mini_BAGLS_dataset/51_seg.png
HW6/Mini_BAGLS_dataset/51.meta
HW6/Mini_BAGLS_dataset/51.png
HW6/Mini_BAGLS_dataset/52_seg.png
HW6/Mini_BAGLS_dataset/52.meta
HW6/Mini_BAGLS_dataset/52.png
HW6/Mini_BAGLS_dataset/53_seg.png
HW6/Mini_BAGLS_dataset/53.meta
HW6/Mini_BAGLS_dataset/53.png
HW6/Mini_BAGLS_dataset/54_seg.png
HW6/Mini_BAGLS_dataset/54.meta
HW6/Mini_BAGLS_dataset/54.png
HW6/Mini_BAGLS_dataset/55_seg.png
HW6/Mini_BAGLS_dataset/55.meta
HW6/Mini_BAGLS_dataset/55.png
HW6/Mini_BAGLS_dataset/56_seg.png
HW6/Mini_BAGLS_dataset/56.meta
HW6/Mini_BAGLS_dataset/56.png
HW6/Mini_BAGLS_dataset/57_seg.png
HW6/Mini_BAGLS_dataset/57.meta
HW6/Mini_BAGLS_dataset/57.png
HW6/Mini_BAGLS_dataset/58_seg.png
HW6/Mini_BAGLS_dataset/58.meta
HW6/Mini_BAGLS_dataset/58.png
HW6/Mini_BAGLS_dataset/59_seg.png
HW6/Mini_BAGLS_dataset/59.meta
HW6/Mini_BAGLS_dataset/59.png
HW6/Mini_BAGLS_dataset/60_seg.png
HW6/Mini_BAGLS_dataset/60.meta
HW6/Mini_BAGLS_dataset/60.png
HW6/Mini_BAGLS_dataset/61_seg.png
HW6/Mini_BAGLS_dataset/61.meta
HW6/Mini_BAGLS_dataset/61.png
HW6/Mini_BAGLS_dataset/62_seg.png
HW6/Mini_BAGLS_dataset/62.meta
HW6/Mini_BAGLS_dataset/62.png
HW6/Mini_BAGLS_dataset/63_seg.png
HW6/Mini_BAGLS_dataset/63.meta
HW6/Mini_BAGLS_dataset/63.png
HW6/Mini_BAGLS_dataset/64_seg.png
HW6/Mini_BAGLS_dataset/64.meta
HW6/Mini_BAGLS_dataset/64.png
HW6/Mini_BAGLS_dataset/65_seg.png
HW6/Mini_BAGLS_dataset/65.meta
HW6/Mini_BAGLS_dataset/65.png
HW6/Mini_BAGLS_dataset/66_seg.png
HW6/Mini_BAGLS_dataset/66.meta
HW6/Mini_BAGLS_dataset/66.png
HW6/Mini_BAGLS_dataset/67_seg.png
HW6/Mini_BAGLS_dataset/67.meta
HW6/Mini_BAGLS_dataset/67.png
HW6/Mini_BAGLS_dataset/68_seg.png
HW6/Mini_BAGLS_dataset/68.meta
HW6/Mini_BAGLS_dataset/68.png
HW6/Mini_BAGLS_dataset/69_seg.png
HW6/Mini_BAGLS_dataset/69.meta
HW6/Mini_BAGLS_dataset/69.png
HW6/Mini_BAGLS_dataset/70_seg.png
HW6/Mini_BAGLS_dataset/70.meta
HW6/Mini_BAGLS_dataset/70.png
HW6/Mini_BAGLS_dataset/71_seg.png
HW6/Mini_BAGLS_dataset/71.meta
HW6/Mini_BAGLS_dataset/71.png
HW6/Mini_BAGLS_dataset/72_seg.png
HW6/Mini_BAGLS_dataset/72.meta
HW6/Mini_BAGLS_dataset/72.png
HW6/Mini_BAGLS_dataset/73_seg.png
HW6/Mini_BAGLS_dataset/73.meta
HW6/Mini_BAGLS_dataset/73.png
HW6/Mini_BAGLS_dataset/74_seg.png
HW6/Mini_BAGLS_dataset/74.meta
HW6/Mini_BAGLS_dataset/74.png
HW6/Mini_BAGLS_dataset/75_seg.png
HW6/Mini_BAGLS_dataset/75.meta
HW6/Mini_BAGLS_dataset/75.png
HW6/Mini_BAGLS_dataset/76_seg.png
HW6/Mini_BAGLS_dataset/76.meta
HW6/Mini_BAGLS_dataset/76.png
HW6/Mini_BAGLS_dataset/77_seg.png
HW6/Mini_BAGLS_dataset/77.meta
HW6/Mini_BAGLS_dataset/77.png
HW6/Mini_BAGLS_dataset/78_seg.png
HW6/Mini_BAGLS_dataset/78.meta
HW6/Mini_BAGLS_dataset/78.png
HW6/Mini_BAGLS_dataset/79_seg.png
HW6/Mini_BAGLS_dataset/79.meta
HW6/Mini_BAGLS_dataset/79.png
HW6/Mini_BAGLS_dataset/80_seg.png
HW6/Mini_BAGLS_dataset/80.meta
HW6/Mini_BAGLS_dataset/80.png
HW6/Mini_BAGLS_dataset/81_seg.png
HW6/Mini_BAGLS_dataset/81.meta
HW6/Mini_BAGLS_dataset/81.png
HW6/Mini_BAGLS_dataset/82_seg.png
HW6/Mini_BAGLS_dataset/82.meta
HW6/Mini_BAGLS_dataset/82.png
HW6/Mini_BAGLS_dataset/83_seg.png
HW6/Mini_BAGLS_dataset/83.meta
HW6/Mini_BAGLS_dataset/83.png
HW6/Mini_BAGLS_dataset/84_seg.png
HW6/Mini_BAGLS_dataset/84.meta
HW6/Mini_BAGLS_dataset/84.png
HW6/Mini_BAGLS_dataset/85_seg.png
HW6/Mini_BAGLS_dataset/85.meta
HW6/Mini_BAGLS_dataset/85.png
HW6/Mini_BAGLS_dataset/86_seg.png
HW6/Mini_BAGLS_dataset/86.meta
HW6/Mini_BAGLS_dataset/86.png
HW6/Mini_BAGLS_dataset/87_seg.png
HW6/Mini_BAGLS_dataset/87.meta
HW6/Mini_BAGLS_dataset/87.png
HW6/Mini_BAGLS_dataset/88_seg.png
HW6/Mini_BAGLS_dataset/88.meta
HW6/Mini_BAGLS_dataset/88.png
HW6/Mini_BAGLS_dataset/89_seg.png
HW6/Mini_BAGLS_dataset/89.meta
HW6/Mini_BAGLS_dataset/89.png
HW6/Mini_BAGLS_dataset/90_seg.png
HW6/Mini_BAGLS_dataset/90.meta
HW6/Mini_BAGLS_dataset/90.png
HW6/Mini_BAGLS_dataset/91_seg.png
HW6/Mini_BAGLS_dataset/91.meta
HW6/Mini_BAGLS_dataset/91.png
HW6/Mini_BAGLS_dataset/92_seg.png
HW6/Mini_BAGLS_dataset/92.meta
HW6/Mini_BAGLS_dataset/92.png
HW6/Mini_BAGLS_dataset/93_seg.png
HW6/Mini_BAGLS_dataset/93.meta
HW6/Mini_BAGLS_dataset/93.png
HW6/Mini_BAGLS_dataset/94_seg.png
HW6/Mini_BAGLS_dataset/94.meta
HW6/Mini_BAGLS_dataset/94.png
HW6/Mini_BAGLS_dataset/95_seg.png
HW6/Mini_BAGLS_dataset/95.meta
HW6/Mini_BAGLS_dataset/95.png
HW6/Mini_BAGLS_dataset/96_seg.png
HW6/Mini_BAGLS_dataset/96.meta
HW6/Mini_BAGLS_dataset/96.png
HW6/Mini_BAGLS_dataset/97_seg.png
HW6/Mini_BAGLS_dataset/97.meta
HW6/Mini_BAGLS_dataset/97.png
HW6/Mini_BAGLS_dataset/98_seg.png
HW6/Mini_BAGLS_dataset/98.meta
HW6/Mini_BAGLS_dataset/98.png
HW6/Mini_BAGLS_dataset/99_seg.png
HW6/Mini_BAGLS_dataset/99.meta
HW6/Mini_BAGLS_dataset/99.png
HW6/Mini_BAGLS_dataset